<%- include('templates/header'); -%>

    <!-- Course Details: Title-->
    <div id="coursesdetails-jumbotron">
        <div class="container">
            <div class="text-center p-1">
                <h1 class="display-6"><%= courses.uni %></h1>
                <br>
                <img class="courses-img img-responsive border rounded" src="/images/logos/<%= courses.uni_logo_small %>" alt="MU_Logo">
                <br>
                <h6>See a selection of <%= courses.uni %> notes available to Classnotes Subscribers.</h6>
                <i>Click on a subject for a preview link to see whether Classnotes can fit your fancy!</i>
            </div>
        </div>
    </div>
    <br>
    <!--Course Details (List)-->
    <!--ADD: Star rating below titles of subjects-->
    <div class="container pb-5">
        <ul class="list-unstyled">
            <% notes.forEach(function(item){ %>
            <li class="media">
            <img src="/images/courses/<%= item.image %>" class="mr-3 rounded" alt="...">
            <div class="media-body">
                <h3 class="mt-0 mb-1"> 
                    <a href="./<%= item.name %>.html"><%= item.name %></a>
                </h3>
                <i>Submitted by <span class="badge badge-info"><%= item.author %></span> <%= item.time_stamp %></i>
            </div>
            </li>
            <br>
        <% }) %>
        </ul>
    </div>

    <%- include('templates/trending'); -%>

    <%- include('templates/footer'); -%>



