<%- include('templates/header'); -%>

    <!--Main Content Container-->
    <div class="container">
        <div class="col-sm-12">
            <article class="text-center main-content">
                <h1 class="main-content-title display-4">Available Courses to Classnotes Subscribers</h1>
            </article>    
        </div>
    </div>

    <!--Course Containers-->
    <!--Need help potentially: Loop the list below dynamically (nested array)-->
    <div class="container">
        <% coursesList.forEach(function(item){ %>
        <div class="media">
            <img src="./images/logos/<%= item.uni_logo_small %>" class="align-self-center mr-3" alt="...">
            <div class="media-body">
              <h5 class="mt-0"><%= item.uni %></h5>
              <h6>Available Courses:</h6>
              <ul class="mb-0">
                <% item.coursenames.forEach(function(item){ %>
                    <li><%= item %></li>
                <% }) %>
              </ul>
            </div>
        </div>
        <br>
        <br>
        <% }) %>
    </div>
    <br>
    <br>
    
    <%- include('templates/trending'); -%>

    <%- include('templates/footer'); -%>



