<%- include('templates/header'); -%>

    <!-- Feedback Form Column -->
    <div class="container pb-5" id="feedback">
        <div class="row">
          <div class="col-sm-4">
            <h1 class="feedback-form-title pb-2">Send us Feedback</h1>
            <form class="feedback-form" action="/feedback" method="POST">
              <div class="form-group">
                <label for="feedback-form-name">Name</label>
                <input type="text" class="form-control" id="feedback-form-name" placeholder="Enter your name" name="fbName">
              </div>
              <div class="form-group">
                <label for="feedback-form-title">Title</label>
                <input type="text" class="form-control" id="feedback-form-title" placeholder="Title of your feedback" name="fbTitle">
              </div>
              <div class="form-group">
                <label for="feedback-form-message">Message</label>
                <textarea type="text" placeholder="Enter your message, then hit the submit" class="form-control" id="feedback-form-message"
                  rows="6" name="fbMessage"></textarea>
              </div>
              <!--Fix: Push button to the right (pull-right does not work)-->
              <button type="button" class="btn btn-info">Submit</button>
            </form>
          </div>

          <!--Feedback Responsese Column-->
          <aside class="col-sm-8">
            <div class="maincontent feedback">
              <h2 class="article-title pb-2">Recent Feedback</h2>
              <div class="feedback-messages">
                <% feedbackList.forEach(function(item) { %>
                <div class="feedback-item item-list media-list">
                  <div class="feedback-item media">
                    <div class="feedback-info media-body">
                      <div class="feedback-head">
                        <div class="feedback-title"><%= item.title %> <small class="feedback-name badge badge-pill badge-info"><%= item.name %></small></div>
                      </div>
                      <div class="feedback-message"><p><%= item.message %></p></div>
                    </div>
                  </div>
                </div>
                <% }); %>
              </div>
            </div>
          </aside>
        </div>
      </div>

      <%- include('templates/footer'); -%>