<%- include('templates/header'); -%>

    <!--Main Content Container-->
    <div class="container">
        <div class="col-sm-12">
            <article class="text-center main-content">
                <h1 class="main-content-title display-4">Complete Exceptional Assessments <strong>Faster</strong> With Our Network of Notes</h1>
                <p>Tap into our database of university contributors and find honours-quality notes written by top achievers for <strong>YOUR</strong> university and for <strong>YOUR</strong> course, improving the speed and quality of your assessments as they arise!
                </p>
            </article>    
        </div>
    </div>

   <!--Supported Courses-->
    <div class="container">
        <div class="col-sm-6">
            <h2 class="pb-1">From Commerce to Creative Arts We Have the Notes You Need!</h2>
            <h6 class="font-italic pb-3">See our growing list of accepted courses and subjects</h6>
        </div>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner row w-100 mx-auto">
                <% coursesList.forEach(function(item) { %>
                <div class="carousel-item col-md-4 active">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="./images/logos/<%= item.uni_shortname %>_logo" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title"><%= item.uni %></h4>
                            <p class="card-text"><strong>Courses Available: </strong><%= item.coursenames %></p>
                            <p class="card-text"><small class="text-muted">Last updated 5 mins ago</small></p>
                        </div>
                    </div>
                </div>
                <% }) %>
                <div class="carousel-item col-md-4">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="../../public/images/misclogo" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">More Victorian Universities</h4>
                            <p class="card-text">Check in each week to see new Universities added to our database!</p>
                            <p class="card-text"><small class="text-muted">New course added Yesterday</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <!--Marketing Container-->
    <div class="container">
        <div class="col-sm-12">
            <article class="marketing">
                <h2 class="marketing-title">Set Yourself Up For Academic Success</h2>
                <h3>Exclusive Access to H1 Notes</h3>
                <ul class="marketing-list">
                    <li>Once signed up to Classnotes, you can peruse, review and download any of the notes available.</li>
                </ul>
                <h3>Payment Protection</h3>
                <ul>
                    <li>Payment for subscription to Classnotes is secure and can be cancelled at any time.</li>
                </ul>
                <h3>Available to Select Victorian Universities</h3>
                <ul>  
                    <li>Available Campuses: The University of Melbourne, Monash University and Holmesglen Institute.</li>
                </ul>
            </article>    
        </div>
    </div>

    <%- include('templates/trending'); -%>

    <!-- Sign up reminder -->
    <div class="container">
        <div class="card text-center">
            <div class="card-signup">
                <h5 class="card-title">Find The Notes You Need Today</h5>
                <p class="card-text">Become a Classnotes subscriber and gain access to hundreds of H1 notes!</p>
                <a href="#signupbutton" class="btn btn-primary">Sign Up</a>
            </div>
        </div>
    </div>

<%- include('templates/footer'); -%>



